*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image:url(home.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;

}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	text-transform: uppercase;


}

.main-nav li.active a
{
	border: 1px solid white;

}

.main-nav li a:hover
{
border: 1px solid white;
}



h1{
	
	padding: 138px 181.50px 138px 181.50px;
	font-size: 500%;
	letter-spacing: 0;
	font-family: "Ubuntu",  sans-serif;
	color: white;
	text-decoration: none;
	font-weight: 500;
	text-align: center;

}


h2{

padding: 84px 15px 84px 15px;

}

h3{
	
	font-family: "Raleway",  sans-serif;
	color: black;
	text-decoration: none;
	font-weight: 300;
	text-align: center;
	font-size: 26px;
	letter-spacing: 3;
	line-height: 2em;

}

p
{
	font-family: "Raleway",  sans-serif;
	color: white;
	text-decoration: none;
	font-weight: 300;
	text-align: center;
	font-size: 26px;
	letter-spacing: 3;
	line-height: 2em;
	background-color: black;
	opacity: 0.8;
	margin-right: 100px;
	margin-left: 100px;
}
div{
	text-align: center;
}


.sectionContainer-d{
	background-image: url(simple.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;
	

}

.sectionContainer-a
{
background-image:url(getstarted.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;

}

.sectionHeader-a
{

	font-size: 500%;
	letter-spacing: 0;
	font-family: "Ubuntu",  sans-serif;
	color: black;
	text-decoration: none;
	font-weight: 400;
	text-align: center;



}

.apply{
	margin-top: 10px;
	float: left;
	list-style: none;
	padding-bottom: 30px;
	padding-left: 150px;
	


}

.apply li
{
display: inline-block;
}

.apply li a
{

	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	


}

.apply li.active a
{
border: 1px solid black;
}

.apply li a:hover{
	border: 1px solid black;
}

.status
{
	margin-top: 10px;
	float: bottom:;
	list-style: none;
	padding-bottom: 30px;
	padding-right: 20px;


}

.status li
{
display: inline-block;
}

.status li a
{

	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	text-transform: uppercase;

}

.status li.active a
{
	border: 1px solid black;

}

.status li a:hover
{
border: 1px solid black;
}


.pay{
	margin-top: 10px;
	float: right;
	list-style: none;
	padding-bottom: 30px;
	padding-left: 450px;
	
}

.pay li
{
display: inline-block;
}

.pay li a{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	text-transform: uppercase;

}
.pay li.active a{

	border: 1px solid black;
}

.pay li a:hover{
	border: 1px solid black;
}

.sectionContainer-b
{

	background-image:url(howit.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;
	


}
 

.sectionContainer-c
{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image:url(contact.jpg);
	height: 100vh;
	background-size: cover;
	background-position:  center;

}

.sectionContent-c
{
	padding: 118px 161.50px 118px 161.50px;

	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0;
	font-family: "Raleway",  sans-serif;
	color: white;
	text-decoration: none;
	font-weight: 300;
	text-align: center;
	
	
}

.content-c
{
	margin-top: 2em;
	line-height: 2em;
	text-transform: uppercase;
	font-size: 300;
	letter-spacing: 0;
	font-family: "Raleway",  sans-serif;
	color: black;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
    
}

.email
{

    font-weight: 300;
    letter-spacing: normal;
    text-transform: none;
    font-family: 'Raleway',sans-serif;
    line-height: 2em;
    color: black;
    font-size: 400;
    text-align: center;
}

input.contactusbtn
{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	position: center;
	list-style: none;
	margin-top: 30px;
	display: center;


}

input.contactusbtn .active a
{
	border: 1px solid white;

}

.footerContactText{
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	font-family: 'Raleway';
	font-size: 12px;
	background-image:url(contact.jpg);
}
